<!-- Algolia docsearch https://community.algolia.com/docsearch/ -->
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3.0.0/dist/umd/index.min.js"></script>
<script src="<%= @items['/assets/javascripts/docsearch.*'].path %>"></script>
